<label>Server Name</label>
<input
type="text"
class="form-control"
(input) = "onUpdateServerName($event)"
/>

<!-- <input
type="text"
class="form-control"
[(ngModel)]="serverName"
/> --> 
<br/>
<br/>  
<p>{{serverName}}</p>
<button 
[disabled] = '!allowNewServer'
class="btn btn-primary"
(click) = "onServerCreated()"
>
Add Servers
</button>
<br/>
<br/>
<!-- <p>{{serverCreationMethod}}</p> -->
<p *ngIf="serverCreated" >server was created and server name is {{serverCreationMethod}}</p>
<br/>
<br/>
<app-server *ngFor="let server of servers" ></app-server>

